<div class="mb-5 lg:mb-0">
  <div class="mb-5 relative overflow-hidden">
    {% if product.compare_at_price > product.price %}
      <span class="absolute top-2 left-2 bg-orange-600 text-white text-md font-bold mr-2 px-2.5 py-0.5 z-10">Sale</span>
    {% endif %}
    <a href="{{ product.url }}">
      <img
        class="w-full w-8- h-80 object-cover transition duration-1000 ease-in-out transform hover:scale-105"
        src="{{ product.featured_image | img_url: 'large' }}"
        alt="{{ product.title }}"
        loading="lazy"
        height="auto"
        width="auto" />
    </a>
  </div>
  <a href="{{ product.url }}" class="text-xl hover:text-anarvin">{{ product.title }}</a>
  <div class="text-lg font-bold text-anarvin">
    {% if product.compare_at_price > product.price %}
      <p>
        <span>{{ product.compare_at_price | money }}</span>
        <span class="font-normal line-through text-gray-500">{{ product.price | times: 0.8 | money }}</span>
      </p>
    {% else %}
      <p>{{ product.price | money }}</p>
    {% endif %}
  </div>
  <div class="inset-center-bottom">
    <form action="/cart/add" method="post">
      <input
        type="hidden"
        name="id"
        value="{{ product.variants.first.id }}">
      <div class="mt-3 lg:flex gap-3">
        <button class="text-center w-full lg:w-auto mb-3 lg:mb-0 px-7 py-3 border border-black bg-black uppercase text-white font-bold text-sm leading-snug hover:bg-anarvin hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out" type="submit">
          Add to cart
        </button>
        <a
          href="{{ product.url }}"
          class="text-center w-full lg:w-auto px-7 py-3 border border-anarvin uppercase text-anarvin font-bold text-sm leading-snug hover:bg-anarvin hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
          type="submit">
          View Product
        </a>
      </div>
    </form>
  </div>
</div>
