{% assign footer_menu_handle = 'footer' %}
{% if section.settings.footer_logo %}
  {% assign logo = section.settings.footer_logo | img_url: 'medium' %}
{% else %}
  {% assign logo = "logo.svg" | asset_url %}
{% endif %}
<footer class="bg-slate-100">
  <div class="container mx-auto p-10 lg:p-20">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="max-w-[110px] mb-5 lg:mb-0">
        {% render 'logo', the_logo: logo %}
      </div>
      {% if linklists[footer_menu_handle] != blank %}
        <ul class="flex items-center mb-6 text-smtext-black hover:text-anarvin">
          {% for link in linklists[footer_menu_handle].links %}
            <li>
              <a class="mr-4 hover:underline hover:underline-offset-8 md:mr-6" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    {% assign current_year = 'now' | date: '%Y' %}
    <span class="block text-sm text-gray-500 text-center">&copy; {{ current_year }}
      <a href="{{ shop.url }}" class="hover:text-anarvin hover:underline hover:underline-offset-8">{{ shop.name }}</a>. {{ section.settings.copyright }}.</span>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "copyright",
        "default": "All Rights Reserved",
        "label": "Copyright Tex"
      }, {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Upload Footer Logo"
      }
    ]
  }
{% endschema %}
