<style>
  .slick-prev:before,
  .slick-next:before {
    color: #6e2f1b !important;
    opacity: unset !important;
  }
</style>

<div class="bg-orange-50">
  <div class="container mx-auto p-10 lg:p-20">
    <h3 class="text-3xl font-bold mb-20 text-center">{{ section.settings.section_title | escape }}</h3>
    <div class="global-slider">
      {% for collection in collections %}
        <div class="flex justify-center items-center">
          <div class="mb-5">
            <img
              class="rounded-full w-40 h-40 mx-auto object-cover transition duration-1000 ease-in-out transform hover:scale-105"
              src="{{ collection.image.src | img_url: 'large' }}"
              alt="{{ collection.image.alt }}"
              loading="lazy"
              height="auto"
              width="auto" />
          </div>
          <div class="text-center">
            <a href="{{ collection.url }}" class="text-black hover:text-anarvin text-lg font-bold">{{ collection.title }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Categories",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Shop by categories"
      }
    ],
    "presets": [
      {
        "name": "Product Categories"
      }
    ]
  }
{% endschema %}
